<div ng-show="!hc.gameSelected">
    <div layout="row" layout-align="center">
      <md-card flex="20" class="game-card" ng-repeat="game in hc.scoresGames" ng-click="hc.selectGame(game)">
        <md-card-title>
              <md-card-title-text>
                    <center>
                      <span class="md-headline centered">{{game}}</span>
                    </center>
            </md-card-title-text>
          </md-card-title>
       </md-card>
    </div>
    <div layout="row" layout-align="center">
      <md-card flex="20" class="game-card" ng-repeat="game in hc.cricketsGames" ng-click="hc.selectGame(game)">
            <md-card-title>
                
                  <md-card-title-text>
                    <center>
                      <span class="md-headline centered">{{game}}</span>
                    </center>
                </md-card-title-text>
                
            </md-card-title>
       </md-card>
    </div>
    <div layout="row" layout-align="center">
      <md-card flex="20" class="game-card" ng-repeat="game in hc.practicesGames" ng-click="hc.selectGame(game)">
        <md-card-title>
              <md-card-title-text>
                    <center>
                      <span class="md-headline centered">{{game}}</span>
                    </center>
            </md-card-title-text>
          </md-card-title>
       </md-card>
    </div>
</div>
<div ng-show="hc.gameSelected && !hc.playersSelected ">
    <div layout="row" layout-align="center">
      <md-card flex="20" class="game-card" ng-repeat="players in hc.nbPlayers" ng-click="hc.selectPlayers(players)">
        <md-card-title>
              <md-card-title-text>
                    <center>
                      <span class="md-headline centered">{{players}}</span>
                    </center>
            </md-card-title-text>
          </md-card-title>
       </md-card>
    </div>
</div>
<div ng-show="hc.gameSelected && hc.playersSelected ">
    <div layout="row" layout-align="center">
      <md-card flex="20" class="game-card" ng-repeat="singlePlayer in hc.currentGame.Players track by $index" ng-click="hc.joinModal($index)">
        <md-card-title>
              <md-card-title-text layout="column" layout-align="center center">
                      <h3 style="text-align:center;">{{singlePlayer.Name}}</h3>
                      <img height="128" width="128" src="images/user.png"/>
            </md-card-title-text>
          </md-card-title>
       </md-card>
    </div>
    <div layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ng-click="hc.startGame()">Start</md-button>
    </div>
</div>