<!--Score Summary-->
<div layout="row" layout-align="center">
      <md-card flex="20" class="game-card" ng-repeat="player in constelationGame.Players track by $index" ng-class="{'current-player': constelationGame.CurrentPlayer.Id == player.Id, 'spoiled-player':player.IsSpoiled }">
        <md-card-title>
              <md-card-title-text>
                    <center>
                      <h2 class="md-headline centered">{{player.Name | uppercase }}</h2>
                      <h1 ng-show="!player.IsSpoiled"> {{player.Score}}</h1>
                      <h1 ng-show="player.IsSpoiled">SPOILED</h1>
                    </center>
            </md-card-title-text>
          </md-card-title>
       </md-card>
</div>
<!--Current Round -->
<div layout="row" layout-align="center" ng-keypress="keyPressed($event)">
    <md-card flex="60" class="game-card">
        <md-card-title>
            <md-card-title-text layout="column" layout-align="center">
                      <h3>ROUND {{constelationGame.CurrentRound}}/{{constelationGame.Players[0].NbRound}}</h3>
                       <span ng-show="constelationGame.Type != 'Cricket Cut Throat' && constelationGame.CurrentPlayer.CurentRound.shoots.length < 3" class="md-headline centered" layout="row" layout-align="center">
                          <div flex="60" class="turn" ng-repeat="recommanded in constelationGame.CurrentPlayer.BestShoots track by $index">
                              <center>
                                  {{getShot(recommanded)}}
                              </center>
                          </div>
                      </span>
                      <span ng-show="constelationGame.CurrentPlayer.CurentRound.shoots.length == 3" class="md-headline centered" layout="row" layout-align="center">
                          <div flex="60" class="turn">
                              <center>
                                  Waiting for next player
                              </center>
                          </div>
                      </span>
                       <span class="md-headline centered" layout="row" layout-align="center">
                          <div flex="60" class="turn" ng-repeat="dart in currentRoundDarts track by $index">
                              <center>
                                  <img ng-show="!constelationGame.CurrentPlayer.CurentRound.shoots[dart]" height="75" width="75" src="images/darts.png"/>
                                  <h4 ng-show="constelationGame.CurrentPlayer.CurentRound.shoots[dart]">{{ getShot(constelationGame.CurrentPlayer.CurentRound.shoots[dart]) | uppercase}}</h1>
                              </center>
                          </div>
                      </span>
                      <div layout="row" layout-align="center">
                        <md-button class="roundButton md-raised md-primary" ng-click="nextPlayer()">Next Player</md-button>
                        <md-button class="md-raised md-warn" ng-click="miss()">Miss</md-button>
                        <md-button class="roundButton md-raised md-warn" ng-click="cancelDart()">Cancel Dart</md-button>
                      </div>
            </md-card-title-text>
          </md-card-title>
    </md-card>
</div>


<!--Cricket Game Content-->
<md-card layout="column" layout-align="center" ng-show="constelationGame.Type == 'Cricket Cut Throat'">
       <div class="goals-header" layout="row" layout-align="center center" flex="90" flex="grow">
           <h3 flex="20">Goals :</h3>
           <md-divider></md-divider>
           <h3 ng-repeat="goal in cricketGoals" layout="row" layout-align="center" flex="10">
                {{goal | uppercase}}
           </h3>
       </div>
       <div layout="row" layout-align="center center" flex="90" flex="grow" ng-repeat="player in constelationGame.Players track by $index" ng-class="{'current-player': constelationGame.CurrentPlayer.Id == player.Id, 'spoiled-player':player.IsSpoiled }">
               <h3 flex="20">{{player.Name | uppercase}}</h3>
               <md-divider></md-divider>
               <h3  ng-show="!player.IsSpoiled" ng-repeat="(goal, value) in player.ListGoals.ListGoals" layout="row" layout-align="center" flex="10">
                   <img ng-show="value != 0" height="75" width="75" ng-src="{{getImage(value)}}"/>
               </h3>
               <h3 ng-show="player.IsSpoiled" flex="10" layout="row" layout-align="center">S</h3>
               <h3 ng-show="player.IsSpoiled" flex="10" layout="row" layout-align="center">P</h3>
               <h3 ng-show="player.IsSpoiled" flex="10" layout="row" layout-align="center">O</h3>
               <h3 ng-show="player.IsSpoiled" flex="10" layout="row" layout-align="center">I</h3>
               <h3 ng-show="player.IsSpoiled" flex="10" layout="row" layout-align="center">L</h3>
               <h3 ng-show="player.IsSpoiled" flex="10" layout="row" layout-align="center">E</h3>
               <h3 ng-show="player.IsSpoiled" flex="10" layout="row" layout-align="center">D</h3>
           </div>
</md-card>


<!--01 Game content-->
<!--ng-show="constelationGame.Type !== 'Cricket'"-->
<md-card layout="column" layout-align="center">
       <div layout="row" layout-align="center">
           <div flex="25" ng-repeat="player in constelationGame.Players track by $index">
               <center><h3>{{player.Name | uppercase}}</h3></center>
               <md-divider></md-divider>
               <div ng-repeat="round in player.Rounds" layout="row" layout-align="center">
                   <span ng-repeat="dart in round.shoots track by $index" style="padding:5px;">
                       <span ng-show="dart">{{ getShot(dart) | uppercase}}</span>
                   </span>
               </div>
           </div>
       </div>
</md-card>